name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # tumhare main branch ka naam

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push frontend image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest ./frontend
        docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest

    - name: Build and push backend image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest ./backend
        docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        port: ${{ secrets.SSH_PORT || 22 }}
        script: |
          cd ~/Assignment/mean-app
          docker-compose pull
          docker-compose up -d
